body{
    background-color: grey;
    padding: 1rem;
    display: flex;
    font-size: 2vw;
}
/* .para{
    font-size: 2vw;
} */
.sidebox{
    background-color: #2d3439;
    height: 43rem;
    width: 35%;
}




.form{
    background-color: rgb(92, 91, 90);
    width: 80%;
    display: block;
    margin: auto;
}
input[type=text]{
    width: 40%;
    /* height: 40%; */
    background-color: rgb(205, 205, 205);
}

.form--hidden{
    display: none;
    background-color: red;
}

.form--row--hidden{
    display: none;
}






#map{
    height: 42rem;
    width: 64%;
    background-color: #aaa;
}
.applogo{
    display: block;
    margin: 1rem auto;
    width: 28%;
}
